[client]
port=3306
socket=/tmp/mysql.sock

[mysqld]
user=root
port=3306
socket=/tmp/mysql.sock
key_buffer_size=16M
max_allowed_packet=128M
secure_file_priv=
datadir=/var/lib/mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
skip-host-cache
skip-name-resolve
server-id=2
log_bin = /var/log/mysql/mysql-bin.log
binlog_format = row
expire_logs_days = 3
max_binlog_size = 1G
binlog_checksum=none


[mysqldump]
quick